@charset "utf-8";
.b-h-menu {
	width: 95%;
	font-size: 16px;
}
.b-main-header-h1{
	font-size: 38px;
}
.bottom-links ul li {
	margin-left: 0px;
}
































body {
	min-width: 240px;
	overflow-x: hidden;
}	
.b-block{
	padding-left:24px;
	padding-right: 24px;
}
