@charset "utf-8";

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff2'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Regular.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff2'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Bold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff2'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Semibold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family: 'Geometria-Bold';
	src: url('../fonts/Geometria-Bold.eot');
	src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Geometria-Bold.woff') format('woff2'),
		 url('../fonts/Geometria-Bold.woff') format('woff'),
		 url('../fonts/Geometria-Bold.ttf')  format('truetype'),
		 url('../fonts/Geometria-Bold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
	font-family: 'Geometria-Regular';
	src: url('../fonts/Geometria-Regular.eot');
	src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Geometria-Regular.woff') format('woff2'),
		 url('../fonts/Geometria-Regular.woff') format('woff'),
		 url('../fonts/Geometria-Regular.ttf')  format('truetype'),
		 url('../fonts/Geometria-Regular.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1enxb5');
  src:  url('../fonts/icomoon.eot?1enxb5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1enxb5') format('truetype'),
    url('../fonts/icomoon.woff?1enxb5') format('woff'),
    url('../fonts/icomoon.svg?1enxb5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1130px;
	text-align: center;
	font-family: ProximaNova-Regular;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #472275;
}
.b-main-header {
	background-image: url(../i/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
	.b-main-header .b-block {
		padding-top: 0px;
		padding-bottom: 0px;
	}
		.b-header{
			
		}
			.b-logo-cont{
				display: inline-block;
				float: left;
				margin-top: 32px;
			}
				.b-logo {
					width: 72px;
				    height: 63px;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-image: url(../i/logo.png);
				    background-size: 72px; 
				    top: 32px;
				}
				.b-logo-text{
					font-family: Geometria-Bold;
					font-size: 32px;
					margin-left: 24px;
					vertical-align: middle;
					margin-top: 9px;
				}
			.b-top-menu{
				font-family: ProximaNova-Semibold;
				font-size: 18px;
				display: inline-block;
				text-align: right;
				width: calc(100% - 271px);
			}
			 	.b-h-menu{
			 		margin-top: 48px;

			 	}
				 	.b-h-menu li{
				 		float: left;
				 		padding-left: 44px;
				 	}
				 	.b-h-menu li a:hover{
				 		color: #A92423 !important;
				 		border-bottom: 2px solid #A92423;
				 	}
		.b-main-header-h1 {
			margin-top: 122px;
			font-family: Geometria-Bold;
			font-size: 50px;
			text-align: left;
			line-height: 55px;
			color: #434343;
		}

		.b-red-button{
			display: block;
			max-width: 252px;
			background-color: #A92423;
			padding: 12px 33px 15px 81px;
			border-radius: 50px;
			color: #ffffff;
			font-family: ProximaNova-Regular;
			font-size: 18px;
			line-height: 24px;
			margin-top: 51px;
			text-align: left;
			position: relative;
			-moz-box-shadow: 0px 5px 12px rgba(92, 26, 26, 0.3);
	  		-webkit-box-shadow: 0px 5px 12px rgba(92, 26, 26, 0.3);
	  		box-shadow: 0px 5px 12px rgba(92, 26, 26, 0.3);
		}
			.b-red-button:before {
				position: absolute;
				left: 30px;
				top: 21px;
				line-height: 0px;
				content:url('../i/more.svg');
			}
		.b-main-header-h3 {
			font-size: 20px;
			line-height: 24px;
			margin-top: 16px;
			font-family: ProximaNova-Semibold;
			text-align: left;
			color: #71706E;
		}
		.bottom-links{
			font-family: ProximaNova-Semibold;
			font-size: 16px;
			margin-top: 126px;
			padding-bottom: 49px;
			text-align: left;

		}
			.bottom-links ul li{
				display: inline-block;
				margin-left: 60px;
			}
			.bottom-links ul li:first-child{
				margin-left: 0px;
			}
	.b-main-about {
	}
		.b-left{
			position: relative;
			width: calc(50% - 12px);
			display: inline-block;
			vertical-align: middle;
		}
			.b-frame-1{
				    background-repeat: no-repeat;
				    width: calc(100% - 41px);
				    border: 15px solid #F6F6F6;
				    z-index: 10;
				    float: right;
				    padding-top: 50px;
				    padding-bottom: 50px;
			}
				.b-text-about{
					    background-color: #ffffff;
					    position: relative;
					    padding-top: 13px;
					    padding-bottom: 33px;
					    left: -55px;

				}
	/*				.b-2-h3:before{
						font-size: 0px;
						content:'.';
						width: 106px;
						height: 306px;
						background-color: #ffffff;
						z-index: -5;
						position: absolute;
						top: 152px;
						display: block;
					}*/
					.b-2-h3{
						display: block;
						font-family: Geometria-Bold;
						font-size: 36px;
						line-height: 42px;
						color: #434343;
						text-align: left;
						z-index: 20;
						position: relative;

					}
					.b-2-span{
						margin-top: 32px;
						text-align: left;
						display: block;
						font-family: ProximaNova-Regular;
						font-size: 16px;
						line-height: 24px;
						z-index: 20;
						position: relative;
					}
					.secret{
						z-index: 20;
						position: relative;
						max-width: 319px;
						margin-top: 38px;
					}
		.b-right{
			width: 50%;
			font-size: 0px;
			text-align: center;	
			display: inline-block;
			vertical-align: middle;
		}
			.b-advantage{
				width: 50%;
				display: inline-block;
				text-align: center;
				margin-bottom: 53px;

			}
			.b-advantage:nth-child(3){
				margin-bottom: 0px;
			}
			.b-advantage:nth-child(4){
				margin-bottom: 0px;
			}
				.b-circle{
					width: 161px;
					height: 161px;
					border-radius: 161px;
					overflow: hidden;
					display: inline-block;
					
				}
					.circle{
						position: relative;
						display: inline-block;
					}
						.b-circle.man .circle{
							top: 24px;
						}
						.b-circle.number .circle{
							top: 41px;
						}
						.b-circle.factory .circle{
							top: 34px;
						}
						.b-circle.note .circle{
							top: 34px;
						}
				.b-right p{
					font-family: ProximaNova-Regular;
					display: block;
					width: auto;
					color: #434343;
					font-size: 16px;
					margin-top: 15px;
				}
					.b-right p b{
						font-family: ProximaNova-Bold;
					}
					.b-right p a{
						text-decoration: underline;
						color: #434343;
					}
						.b-right p a:hover{
							color: #A92423;
						}
.b-main-reviews{
	background-image: url(../i/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
	.b-reviews-h3{
		font-family: Geometria-Bold;
		font-size: 36px;
		line-height: 42px;
		color: #434343;
		margin-bottom: 50px;
	}
	.b-reviews{

	}
		.b-review{
			width: calc(50% - 40px);
			padding: 28px 28px 30px 49px;
			text-align: left;
			background-color: #ffffff;
			position: relative;
		}
		.b-review:nth-child(2n+1){
			left: 28px;
		}			
			.review-text{
				font-family: ProximaNova-Regular;
				font-size: 16px;
				line-height: 24px;
				color: #434343;
			}
				.review-sign{
					font-family: ProximaNova-Semibold;
				}
				.b-review-text:before{
					width: 50px;
					height: 43px;
					position: absolute;
					content: ' ';
					background-image: url(/i/quote.svg)
				}		
	.review {
		max-width: 330px;
		margin: auto;
	}
	.b-main-reviews .b-block a{
		margin-top: 50px;
	}
.b-main-partners{

}
	.b-main-partners .b-block{
		padding-top: 31px;
	}
	.b-partners-h3{
			    font-family: Geometria-Bold;
			    font-size: 36px;
			    line-height: 42px;
			    color: #434343;
			    background-color: #ffffff;
			    position: relative;
			    display: inline-block;
			    top: 26px;
			    padding: 0px 42px 0px 42px;
	}
	.b-partners{
		border: 15px solid #f6f6f6;
		padding: 45px 71px 40px 66px;
		margin-bottom: 50px;
	}
		.b-partner-logo{
		    display: inline-block;
			margin-right: 24px;
			-webkit-filter: grayscale(100%);
		    -moz-filter: grayscale(100%);
		    -ms-filter: grayscale(100%);
		    -o-filter: grayscale(100%);
		    filter: grayscale(100%);
		    filter: gray;
		    opacity: 0.5;
		    -webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;	
		}
			.b-partner-logo:hover{
		    display: inline-block;
			margin-right: 32px;
			margin-left: 8px;
			-webkit-filter: grayscale(0%);
		    -moz-filter: grayscale(0%);
		    -ms-filter: grayscale(0%);
		    -o-filter: grayscale(0%);
		    filter: grayscale(0%);
		    filter: gray;
		    opacity: 1;	
		}
	.partners {
		max-width: 252px;
		margin: auto;
	}
.b-main-footer{
	background-color: #f6f6f6;
}
	.b-footer-wrap{
		text-align: justify;
		margin-bottom: 32px;
	}
		.b-logos{
			display: inline-block;
			vertical-align: top;
			text-align: left;
		}
		.b-logos a img{
			margin-bottom: 40px;
		}
			.b-sotrudnik{

			}
			.b-social{
				text-align: justify;
			}
				.b-social li{
					display: inline-block;
					text-align: left;
					margin-right: 35px;
					display: inline-block;
					-webkit-filter: grayscale(100%);
				    -moz-filter: grayscale(100%);
				    -ms-filter: grayscale(100%);
				    -o-filter: grayscale(100%);
				    filter: grayscale(100%);
				    filter: gray;
				    opacity: 0.75;	
				}
				.b-social li:hover{
					display: inline-block;
					-webkit-filter: grayscale(0%);
				    -moz-filter: grayscale(0%);
				    -ms-filter: grayscale(0%);
				    -o-filter: grayscale(0%);
				    filter: grayscale(0%);
				    filter: gray;
				    opacity: 1;
				}
		.b-shortcuts{
			display: inline-block;
		}
			.b-footer-h4{
				font-family: Geometria-Bold;
				font-size: 18px;
				line-height: 26px;
				color: #434343;
				margin-bottom: 16px;
			}
			.shortcuts{
				text-align: left;
			}
				.shortcuts li{
					margin-bottom: 8px;
				}
					.shortcuts li a{
					font-family: ProximaNova-Regular;
					font-size: 16px;
					line-height: 24px;
					color: #71706E;
					border-bottom: 1px solid #71706E;
					}
						.shortcuts li a:hover{
							color: #A92423;
						}
		.b-contacts-wrap{
			display: inline-block;
			border: 15px solid #ffffff;
			padding: 40px 84px 48px 50px;
			text-align: right;
			vertical-align: top;
		}
			.b-contacts{
				font-family: ProximaNova-Regular;
				font-size: 16px;
				line-height: 24px;
				color: #71706E;
				display: inline-block;
				vertical-align: top;
				text-align: left;
				margin-right: 61px;
			}
				.b-contacts p {
					margin-bottom: 8px;
				}
				.b-contacts p:last-child {
					margin-bottom: 0px;
				}
				.b-contacts p b{
					font-family: ProximaNova-Bold;
				}
			.b-workhours{
				font-family: ProximaNova-Regular;
				font-size: 16px;
				line-height: 24px;
				color: #71706E;
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}
				.b-workhours p{
					margin-bottom: 8px;
				}
	.b-footer-copy{
		text-align: justify;
		vertical-align: bottom;
	}
	.b-footer-copy p{
		display: inline-block;
		font-family: ProximaNova-Regular;
		font-size: 16px;
		line-height: 16px;
		color: #71706E;
	}
	.b-footer-copy p a{
		font-size: 16px;
		color: #71706E;
	}
		.b-footer-copy p:nth-child(2){
			border-bottom: 1px dashed #71706E;
		}
			.b-footer-copy p a:hover {
				color: #A92423;
			}
			.b-footer-copy p a img{
				margin-left: 10px;
				position: relative;
				top: 3px;
			}









.justify:after{
	content: '';
	display: inline-block;
	width: 100%;
	vertical-align: top;
}



.man{
	background-color: #ECECEC;
	-moz-box-shadow:    inset 0 0 0 8px #f7f7f7;
	-webkit-box-shadow: inset 0 0 0 8px #f7f7f7;
	box-shadow:         inset 0 0 0 8px #f7f7f7;
}
.number{
	background-color: #B3F5C6;
	-moz-box-shadow:    inset 0 0 0 8px #D5FADF;
	-webkit-box-shadow: inset 0 0 0 8px #D5FADF;
	box-shadow:         inset 0 0 0 8px #D5FADF;
}
.factory{
	background-color: #DBEBFF;
	-moz-box-shadow:    inset 0 0 0 8px #EFF6FF;
	-webkit-box-shadow: inset 0 0 0 8px #EFF6FF;
	box-shadow:         inset 0 0 0 8px #EFF6FF;
}
.note{
	background-color: #FFE4CC;
	-moz-box-shadow:    inset 0 0 0 8px #FFF3E8;
	-webkit-box-shadow: inset 0 0 0 8px #FFF3E8;
	box-shadow:         inset 0 0 0 8px #FFF3E8;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1130px;
	margin: 0px auto;
	padding-top: 60px;
	padding-top: 60px;
	padding-bottom: 70px;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{

}
.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}
.b-1{
	
}

.red {
	color: #A92423 !important;
}
.gray {
	color: #71706E !important;
}
.right {
	float: right;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}